* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Raleway', sans-serif, serif;
  line-height: 1.5;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #f4f4f4;
  color: #ffff;
}

.container {
  max-width: 1200px;
  padding: 2rem 1rem;
  margin: auto;
  overflow: hidden;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
}

#home-sec1 .content a, #home-sec2 .content .infos div a {
  display: inline-block;
  border: 2px solid #ffff;
  background: #444444;
  color: #55C6E6;
  border-radius: 35px;
  text-align: center;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#about-sec {
  color: #444444;
}

#about-sec .center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#about-sec .center h1 {
  font-size: 2rem;
  margin-bottom: 0.3rem;
}

#about-sec .center .line {
  height: 1.5px;
  width: 75px;
  background: #444444;
  margin-bottom: 0.3rem;
}

#about-sec .center p {
  font-size: 1.3rem;
}

#about-sec .collection {
  margin-top: 3rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
  grid-gap: 1rem;
}

#about-sec .collection .content1 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
}

#about-sec .collection .content1 .texts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #444444;
  color: #ffff;
  padding: 0 1rem;
}

#about-sec .collection .content1 .texts h2 {
  margin-bottom: 0.3rem;
}

#about-sec .collection .content1 .images {
  background: #ffff;
  padding: 0.5rem;
  text-align: center;
}

#about-sec .collection .content1 .images h2 {
  margin-bottom: 0.5rem;
}

#about-sec .collection .content1 .images .box {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 0.1rem;
}

#about-sec .collection .content1 .images .box img {
  position: relative;
  width: 100%;
}

header {
  background: #55C6E6;
}

header .container {
  padding: 1rem;
}

#navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

#navbar h1 .heading {
  font-size: 2.5rem;
  font-family: 'Grenze Gotisch', cursive;
  color: #ffff;
  -webkit-transition: color 0.3s ease-in;
  transition: color 0.3s ease-in;
}

#navbar h1 .heading:hover {
  cursor: pointer;
  color: #444444;
}

#navbar ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
}

#navbar ul a {
  color: #ffff;
  font-size: 1.3rem;
  padding-bottom: 0.2rem;
}

#navbar ul a:hover {
  color: #444444;
  border-bottom: 1px solid #444444;
}

#navbar ul a.current {
  color: #444444;
  border-bottom: 1px solid #444444;
}

#home-sec1 {
  background: url("/img/sec-1.jpg") no-repeat center center/cover;
  height: 90vh;
  position: relative;
}

#home-sec1:before {
  content: '';
  position: absolute;
  background: rgba(68, 68, 68, 0.7);
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

#home-sec1 .content {
  position: relative;
  color: #ffff;
  padding-top: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 5;
}

#home-sec1 .content h1 {
  font-size: 2.2rem;
  margin-bottom: 3rem;
}

#home-sec1 .content .boxes {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 4rem;
}

#home-sec1 .content .boxes div {
  padding: 2rem;
  margin-bottom: 1.5rem;
}

#home-sec1 .content .boxes div h2 {
  font-size: 1.45rem;
  margin-bottom: 0.3rem;
}

#home-sec1 .content .boxes div p {
  font-size: 1.2rem;
}

#home-sec1 .content .boxes div:not(.last-div) {
  border-right: 2px solid #444444;
}

#home-sec1 .content a {
  padding: 0.8rem 2rem;
  font-size: 1.3rem;
}

#home-sec1 .content a:hover {
  background: #55C6E6;
  color: #444444;
}

#home-sec2 {
  background: #55C6E6;
}

#home-sec2 .content {
  text-align: center;
}

#home-sec2 .content h1 {
  font-size: 2.2rem;
  margin-bottom: 1rem;
}

#home-sec2 .content .infos {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 1.5rem;
}

#home-sec2 .content .infos div {
  color: #444444;
  background: #ffff;
  border-radius: 5px;
  padding: 1rem;
}

#home-sec2 .content .infos div img {
  width: 100%;
}

#home-sec2 .content .infos div h2 {
  margin-top: 0.5rem;
}

#home-sec2 .content .infos div p {
  margin-top: 0.5rem;
}

#home-sec2 .content .infos div a {
  padding: 0.5rem 1.2rem;
  font-size: 1rem;
  margin-top: 0.5rem;
}

#home-sec2 .content .infos div a:hover {
  background: #55C6E6;
  color: #444444;
}

#foot {
  background: #444444;
  color: #ffff;
  text-align: center;
}

#foot .logos {
  margin-bottom: 0.3rem;
}

#foot .logos a {
  color: #ffff;
  padding-right: 1rem;
}

#foot .logos a:hover {
  color: #55C6E6;
}

#foot p {
  font-size: 1.2rem;
}
