@import'variables';

//About-section
#about-sec{
    color:$dark-color;

    .collection{
        margin-top:2.5rem;
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-gap:1rem;

        .content1{
            display: grid;
            grid-template-columns: 1fr 2fr;

            .texts{
                display: flex;
                flex-direction: column;
                text-align: center;
                align-items: center;
                justify-content: center;
                background: $dark-color;
                color:$light-color;
                padding:0 1rem;
                
                h2{
                    margin-bottom: 0.3rem;
                }
            }

            .images{
                background: $light-color;
                padding:0.5rem;
                text-align: center;

                h2{
                    margin-bottom: 0.5rem;
                }

                .box{
                    display:grid;
                    grid-template-columns: repeat(3,1fr);
                    grid-gap:0.1rem;

                    img{
                        position: relative;
                        width:100%;
                    }
                }
            }
        }
    }
}
        
//Responsive
@media(max-width:850px){
    #about-sec{
    
        .collection{
            grid-gap:2rem;
    
            .content1{
                grid-template-columns: repeat(1,1fr);

                .texts{
                    padding:1.5rem;
                }

                .images{
                    background: $dark-color;
                    color:$light-color;

                    h2{
                        padding:0.5rem 0;
                    }
                }
            }
    
        }
   }    
}

@media(max-width:600px){
    #about-sec{
        .collection{
            margin-top:1.5rem;

            .texts{

                h2{
                    font-size:1.3rem ;
                }

                p{
                    font-size: 1rem;
                }
            }

            .images{

                h2{
                    font-size:1.3rem ;
                }
            }
        }
    }
}