@import 'variables';

*{
    margin:0;
    padding:0;  
    box-sizing:border-box;
}

body{
    font-family: 'Raleway', sans-serif, serif;
    line-height: 1.5;
    box-sizing: border-box;
    background: #f4f4f4;
    color: $light-color;
}

.container{
    max-width: 1200px;
    padding:2rem 1rem;
    margin:auto;
    overflow:hidden;
}

ul li{
    list-style: none;
}

a{
    text-decoration: none;
}

.center{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    h1{
        font-size: 2rem;
        margin-bottom: 0.3rem;
    }

    p{
        font-size: 1.3rem;
    }

    .line{
        height:1.5px;
        width:75px;
        background: $dark-color;
        margin-bottom: 0.3rem;
    }
}

%button{
    display: inline-block;
    border:2px solid $main-color;
    background: $dark-color;
    color:$light-color;
    border-radius:35px;
    text-align: center;
    transition: all 0.5s;
}