@import 'utility';
@import 'variables';
@import 'about';
@import 'contact';

//Navigation-Bar
header{
    background:$main-color;

    .container{
        padding:1rem;
    }
}

#navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;

    h1 .heading{
        font-size: 2.5rem;
        font-family: 'Grenze Gotisch', cursive;
        color: $dark-color;
        transition:color 0.3s ease-in;

        &:hover{
            cursor: pointer;
            color:$light-color;
        }
    }

    ul{
        display: grid;
        grid-template-columns:repeat(3,1fr);
        grid-gap:1rem;

        a{
            color:$light-color;
            font-size: 1.3rem;
            padding-bottom:0.2rem;

            &:hover{
                color:$dark-color;
                border-bottom:1px solid $dark-color;  
            }

            &.current{
                color:$dark-color;
                border-bottom:1px solid $dark-color;
            }
        }
    }
}

//Home-pageSection1
#home-sec1{
    background: url('/img/sec-1.jpg') no-repeat center center/cover;
    position: relative;

    &:before{
        content: '';
        position: absolute;
        background: rgba($color: $dark-color, $alpha:0.7);
        top:0;
        left:0;
        height:100%;
        width:100%;
    }

    .content{
        position: relative;
        color: $light-color;
        padding:5rem 0rem 3rem 0rem;
        display: flex;
        text-align: center;
        flex-direction: column;
        align-items:center;
        z-index:5;

        h1{
            font-size: 2.2rem;
            margin-bottom: 3rem;
        }

        .boxes{
            display: grid;
            grid-template-columns: repeat(3,1fr);
            grid-gap:4rem;
            
            div{
                padding:2rem;
                margin-bottom:2.5rem;

                h2{
                    font-size:1.45rem;
                    margin-bottom: 0.3rem;
                }
                p{
                    font-size: 1.2rem;
                }

                &:not(.last-div){
                    border-right:2px solid $main-color;
                }
            }
        }

        a{
            @extend %button;
            padding:0.8rem 2rem;
            font-size:1.3rem;

            &:hover{
                background: $main-color;
                color:$dark-color;
            }
        }
    }
}

//Home-pageSection2
#home-sec2{
    background:$main-color;
    
    .content{
        text-align: center;

        h1{ 
            font-size:2.2rem;
            margin-bottom: 1rem;
        }

        .infos{
            display: grid;
            grid-template-columns: repeat(3,1fr);
            grid-gap:1.5rem;

            div{
                color:$dark-color;
                background:$light-color;
                border-radius:5px;
                padding:1rem;

                img{
                    width:100%;
                }

                h2{
                    margin-top: 0.5rem;
                }
                p{
                    margin-top: 0.5rem;
                }

                a{
                    @extend %button;
                    padding:0.5rem 1.2rem;
                    font-size:1rem;
                    margin-top: 0.5rem;
        
                    &:hover{
                        background:$main-color;
                        color:$dark-color;
                    }
                }
            }
        }
    }
}

//PageFooter
#foot{
    background:$dark-color;
    color:$light-color;
    text-align: center;
    
    .logos{
        margin-bottom:0.3rem;

        a{
            color:$light-color;
            padding-right:1rem;

            &:hover{
                color:$main-color;
            }
        }
    }

    p{
        font-size: 1.2rem;
    }
}